body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #434455;
}

address a {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
}

main {
  flex-grow: 1;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.container {
  /* max-width: 1158px; */
  max-width: 320px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  fill: #f4f4fd;
}

/*---------------------HEADER-------------------*/

.header {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.heder-menu-list {
  display: none;
  gap: 40px;
}

.heder-menu-items {
  display: flex;
}

.heder-menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio {
  color: #404bbf;
}
.link-studio::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.heder-menu-link:hover,
.heder-menu-link:focus {
  color: #404bbf;
}

.heder-address {
  font-style: normal;
}

.heder-address-list {
  display: none;
  gap: 40px;
}

.heder-address-items {
  display: flex;
}

.heder-address-link {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-address-link:hover,
.heder-address-link:focus {
  color: #404bbf;
}

.header-logo-item {
  color: #2e2f42;
}

.header-logo-item:hover,
.header-logo-item:focus {
  color: #4d5ae5;
}

.btn-mob-menu {
  background-color: transparent;
  margin-top: 16px;
  margin-bottom: 16px;
}

.icon-mob-menu {
  fill: #2f2f37;
}

/*------------------------------*/

/* --------------------------- Mob Menu -----------------------------*/

.mob-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .mob-conteiner.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.conteiner-mob-navigation {
  display: flex;
}

.mob-navigation {
  margin-top: 72px;
  margin-left: 16px;
  margin-right: auto;
}

.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-left: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:focus,
.menu-close:hover {
  background-color: #fff;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
  margin-bottom: 64px;
  margin-right: auto;
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: #404bbf;
}

.mob-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: 16px;
  margin-right: auto;
  gap: 40px;
}

.mob-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
  background-color: #31d0aa;
}

/*------------------------------*/

/*---------------------HERO-------------------*/

.hero {
  background-color: #2e2f42;
  /* padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px; */
  padding: 72px 52px;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  /* line-height: 1.07; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /* max-width: 496px;
  margin-bottom: 48px; */
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  background-color: #4d5ae5;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*------------------------------*/

/*---------------------section Feature-------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  margin-bottom: 72px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.feature-list-items {
  max-width: 288px;
  /* width: 264px;
  width: calc((100% - 72px) / 4); */
}

.feature-list-title {
  margin-bottom: 8px;
}

.icon-feature {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

/*------------------------------*/

/*---------------------section Our Team-------------------*/

.team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
  gap: 72px;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  max-width: 264px;
  /* width: calc((100% - 72px) / 4); */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-team-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
}

.feature-icon {
  fill: #f4f4fd;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

/*------------------------------*/

/*---------------------section Our Portfolio-------------------*/

.portfolio-titel {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  /* max-width: 360px;
width: calc((100% - 48px) / 3); */
  max-width: 288px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-title {
  margin-bottom: 8px;
}

.container-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
}
/*------------------------------*/

/*---------------------Footer-------------------*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 320px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  /* max-width: 264px; */
  max-width: 288px;
  text-align: left;
  color: #f4f4fd;
}

.footer-logo-item {
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-item:hover,
.footer-logo-item:focus {
  color: #4d5ae5;
}

.footer-social-titel {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.icon {
  fill: #f4f4fd;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form-titel {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 16px;
}

.footer-email {
  /* width: 264px; */
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
}

.footer-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  background-color: #4d5ae5;
  min-width: 165px;
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover,
.footer-submit:focus {
  background-color: #404bbf;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}
/*------------------------------*/

/*---------------------Backdrop-------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px; */
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-left: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.container-comment {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-input:focus,
.modal-input:hover {
border-color: #4d5ae5 ;
}

.modal-input:focus +.modal-icon,
.modal-input:hover +.modal-icon{
  fill: #4d5ae5;
} */

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-text:focus,
.modal-text:hover {
border-color: #4d5ae5
} */

.container-check {
  max-width: 256px;
  margin-bottom: 24px;
}

.modal-check-text {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.icon-check {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .icon-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.text-check {
  max-width: 231px;
  display: flex;
  flex-direction: column;
}

.check-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  line-height: 1.5;
  background-color: #4d5ae5;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/*------------------------------*/

/* -----------------------MEDIA------------------------- */

@media screen and (max-width: 767px) {
  .feature-list-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }

  .team {
    padding-left: 28px;
    padding-right: 28px;
  }

  .footer-container {
    max-width: 288px;
    justify-content: center;
    text-align: center;
    gap: 72px;
  }

  .icon-check {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }

  @media screen and (-webkit-min-device-pixel-ration: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-mob-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }

  .heder-menu-list {
    display: flex;
    margin-right: 121px;
  }

  .heder-address-list {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 12px;
  }

  .btn-mob-menu {
    display: none;
  }

  .hero {
    padding: 112px 120px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .feature-list {
    gap: 72px 24px;
  }

  .feature-list-items {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-list-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    max-width: 736px;
    margin-left: 92px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-email {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .container-check {
    max-width: 360px;
  }

  .modal-check-text {
    display: inline;
  }

  .icon-check {
    display: inline-flex;
  }

  .text-check {
    display: inline;
  }

  @media screen and (-webkit-min-device-pixel-ration: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-2x.jpg);
    }
  }
}

@media screen and (max-width: 1157px) {
  .heder-address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .feature-list-text {
    font-weight: 500;
  }

  .feature-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .footer-email {
    opacity: 0.3;
  }

  .footer-email::placeholder {
    opacity: 0.6;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team {
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-container {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .heder-menu-list {
    display: flex;
  }

  .heder-address-list {
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    gap: 24px;
  }

  .feature-list-items {
    max-width: 264px;
    width: calc((100% - 72px) / 4);
  }

  .icon-feature {
    display: flex;
  }

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    max-width: 264px;
    width: calc((100% - 72px) / 4);
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list-item {
    max-width: 360px;
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    max-width: 1158px;
  }

  .footer-container-logo {
    margin-right: 120px;
  }
  .social-container {
    margin-right: 80px;
  }

  .modal-input:focus,
  .modal-input:hover {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .modal-icon,
  .modal-input:hover + .modal-icon {
    fill: #4d5ae5;
  }
  .modal-text:focus,
  .modal-text:hover {
    border-color: #4d5ae5;
  }

  @media screen and (-webkit-min-device-pixel-ration: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
}
/*------------------------------*/
